<spinner *ngIf="_isLoading"></spinner>

<ul *ngIf="!_isLoading" class="actions">
    <li>
        <a routerLink="/admin/projects/create">
            <i>add</i>
        </a>
    </li>
</ul>

<div *ngIf="!_isLoading" class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let project of _projects">
                <a class="masterLink" (click)="onProjectClick(project.Id)">
                    {{project.ProjectName}}
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="_selectedProject" class="detail">
        <div>
            <div>
                <div>{{_selectedProject.ProjectName}}</div>
                <div>{{_selectedProject.Url}}</div>
            </div>
            <div>{{_selectedProject.Description}}</div>
            <div>
                <button (click)="onProjectDelete(_selectedProject.Id)" type="button">
                    <i>delete_forever</i>
                </button>
                <a routerLink="/admin/projects/update/{{_selectedProject.Id}}">
                    <i>edit</i>
                </a>
            </div>
        </div>
    </section>
</div>