<spinner *ngIf="_isLoading"></spinner>

<ul *ngIf="!_isLoading" class="postList">
    <!--<li *ngFor="let post of (currentPage == 1 ? _pagedPosts : _posts)">-->
    <li *ngFor="let post of _posts">
        <article class="postArticle card card-1">
            <div class="postArticleImage">
                <img src="http://placehold.it/350x350" alt="postImage">
            </div>
            <div class="postArticleBody">
                <h3 class="postArticleBodyTitle">
                    <a class="blogLink" routerLink="/posts/{{post.Id}}">{{post.Title}}</a>
                </h3>
                <hr/>
                <p class="postArticleBodyDetails">
                    {{post.HeroContent}}
                </p>
            </div>
        </article>
    </li>
</ul>

<up *ngIf="!_isLoading"></up>

<!--<button *ngIf="!_isLoading" (click)="onLoadmore()" class="btn">
    <i class="material-icons">expand_more</i>
</button>-->

<button *ngIf="!_isLoading" (click)="onLoadmore()" class="btn">
    <span>load more</span>
</button>


<!--<pager *ngIf="!_isLoading" [items]="_posts" (pageChanged)="onPageChanged($event)"></pager>-->