<md-progress-bar *ngIf="_isLoading" mode="indeterminate"></md-progress-bar>

<!--<spinner *ngIf="_isLoading"></spinner>-->

<ul *ngIf="!_isLoading" class="actions">
    <li>
        <a md-raised-button color="primary" routerLink="/admin/projects/create">
            <md-icon>add</md-icon>
        </a>
    </li>
</ul>

<div *ngIf="!_isLoading" class="masterDetail">
    <section class="master">
        <md-list>
            <md-list-item *ngFor="let project of _projects">
                <a class="masterLink" (click)="onProjectClick(project.Id)">
                    {{project.Name}}
                </a>
            </md-list-item>
        </md-list>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="_selectedProject" class="detail">
        <md-card>
            <md-card-header>
                <md-card-title>{{_selectedProject.Name}}</md-card-title>
                <md-card-subtitle>{{_selectedProject.Url}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>{{_selectedProject.Description}}</md-card-content>
            <md-card-actions>
                <button md-button color="warn" (click)="onProjectDelete(_selectedProject.Id)" type="button">
                    <md-icon>delete_forever</md-icon>
                </button>
                <a md-button color="primary" routerLink="/admin/projects/update/{{_selectedProject.Id}}">
                    <md-icon>edit</md-icon>
                </a>
            </md-card-actions>
        </md-card>
    </section>
</div>