<spinner *ngIf="_isLoading"></spinner>

<ul class="actions">
    <a routerLink="/admin/projects/create">Create a new Project</a>
</ul>

<div class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let project of _projects">
                <a class="masterLink" (click)="onProjectClick(project.Id)">
                    <span>{{project.Name}}</span>
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section class="detail">
        <article *ngIf="_selectedProject">
            <h3>{{_selectedProject.Name}}</h3>
            <div>
                {{_selectedProject.Name}}
            </div>
            <div>
                <button (click)="onProjectDelete(_selectedProject.Id)" type="button">
                    delete this project
                </button>
            </div>
        </article>
    </section>
</div>