
leftnavbar {
  border: 1px dashed black;
  flex-basis: 24%;
  text-align: center;
  background-color: #22384e;
}

div.dashboard {
  border: 1px dashed black;
  flex-basis: 76%;
  text-align: center;
  background-color:#ECF0F1;

}

