
leftnavbar {
    border: 1px dashed black;
    /*flex-basis: 24%;*/
    text-align: center;
    background-color: #22384e;
    position: fixed;
    width: 20em;
    height: 100%;
}

.dashboard {
    /*flex-basis: 76%;*/
    /*width: 100%;*/
    border: 1px dashed black;
    text-align: center;
    background-color:#ECF0F1;
    margin: 0 0 0 20em;
    min-height: 40em;
    overflow-x: hidden;
}

