<spinner *ngIf="_isLoading"></spinner>

<!--<spinner *ngIf="_isLoading"></spinner>-->

<ul *ngIf="!_isLoading" class="actions">
    <li>
        <a routerLink="/admin/posts/create">
            <i>add</i>
        </a>
    </li>
</ul>

<div *ngIf="!_isLoading" class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let post of _posts">
                <a class="masterLink" (click)="onPostClick(post.Id)">
                    {{post.Title}}
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="_selectedPost" class="detail">
        <div>
            <div>
                <div>{{_selectedPost.Title}}</div>
                <div>{{_selectedPost.Slug}}</div>
            </div>
            <div>{{_selectedPost.Content}}</div>
            <div>
                <button (click)="onPostDelete(_selectedPost.Id)" type="button">
                    <i>delete_forever</i>
                </button>
                <a routerLink="/admin/posts/update/{{_selectedPost.Id}}">
                    <i>edit</i>
                </a>
            </div>
        </div>
    </section>
</div>