source https://api.nuget.org/v3/index.json
#source https://nuget.org/api/v2
framework: auto-detect
#framework: >= net461
# match mono on server

nuget Expecto
nuget FSharp.Core redirects: force
nuget FSharp.NET.Sdk
nuget FAKE
nuget Suave 2.2.1
nuget Suave.Testing 2.2.1
nuget Newtonsoft.Json
nuget SQLProvider 1.1.11
nuget Npgsql 3.1.9
nuget System.Data.Common
nuget System.Net.Http




