
.post-article {
    padding: 0;
}

.post-article-image  {
    min-height: 2em;
    height: 20%;
    width: 100%;
    object-fit: contain;
}

.post-article-title { }

.post-article-content { }

.post-article-tags { }