* {
    color: white;
}

ul.leftnavbarActionsList {
   list-style-type: none;
   padding: 20px 0 0 0;
}

ul.leftnavbarActionsList li {
   text-align: center;
   padding: 4px;
}

ul.leftnavbarActionsList li a {
   text-align: center;
   padding: 4px;
   text-decoration: none;
}

li.leftnavbarAction {
    /*background: black;*/
    margin: 10px 20px 0 20px;
    text-align: center;
}

avatar {
    cursor: default;
}





