<section>
    <spinner *ngIf="_isLanguagesLoading"></spinner>
    <ul class="skillsList" *ngIf="!_isLanguagesLoading">
        <h3><em>Languages</em></h3>
        <li *ngFor="let language of _languages" class="skill">
            <label>{{language.Name}}</label>
            <div class="barHolder">
                <div class="progressBar" [style.width.%]="language.Level"></div>
            </div>
        </li>
    </ul>
</section>

<section>
    <spinner *ngIf="_isFrameworksLoading"></spinner>
    <ul class="skillsList" *ngIf="!_isFrameworksLoading">
        <h3><em>Frameworks</em></h3>
        <li *ngFor="let framework of _frameworks" class="skill">
            <label>{{framework.Name}}</label>
            <div class="barHolder">
                <div class="progressBar" [style.width.%]="framework.Level"></div>
            </div>
        </li>
    </ul>
</section>

<section>
    <spinner *ngIf="_isDatabasesLoading"></spinner>
    <ul class="skillsList" *ngIf="!_isDatabasesLoading">
        <h3><em>Databases</em></h3>
        <li *ngFor="let database of _databases" class="skill">
            <label>{{database.Name}}</label>
            <div class="barHolder">
                <div class="progressBar" [style.width.%]="database.Level"></div>
            </div>
        </li>
    </ul>
</section>