<spinner *ngIf="_isLoading"></spinner>

<ul *ngIf="!_isLoading" class="actions">
    <ul class="actions">
        <a routerLink="/admin/skills/create">Create a new Skill</a>
    </ul>

    <div *ngIf="!_isLoading" class="masterDetail">
        <section class="master">
            <ul>
                <li *ngFor="let skill of _skills">
                    <a class="masterLink" (click)="onSkillClick(skill.Id)">
                        <span>{{skill.Name}}</span>
                    </a>
                </li>
            </ul>
        </section>

        <div class="verticalLine"></div>

        <section class="detail">
            <article *ngIf="_selectedSkill">
                <h3>{{_selectedSkill.Name}}</h3>
                <div>
                    {{_selectedSkill.Name}} <br/> {{_selectedSkill.Level}} <br/>
                    <ul *ngIf="_selectedSkill.courses && _selectedSkill.courses.length > 0">
                        <li *ngFor="let course of _selectedSkill.courses">
                            {{course.name}}
                        </li>
                    </ul>
                </div>
                <div>
                    <button (click)="onSkillDelete(_selectedSkill)" type="button">
                    <span>delete this skill</span>
                </button>
                    <a routerLink="/admin/skills/update/{{_selectedSkill.id}}" class="blogLink">
                        <span>update this skill</span>
                    </a>
                </div>
            </article>
        </section>
    </div>
</ul>