.projectSection {
    margin: 3em 6em;
}

md-card-title {
    color :#03386d;
}

md-card-actions.projectActions {
    text-align: right;
}

md-card-actions.projectActions:hover {
    color: #22384e;
}