<spinner *ngIf="_isLoading"></spinner>

<section class="projectSection">
    <div *ngFor="let project of _projects">
        <div>
            {{project.Name}}
        </div>
        <div>
            <p>{{project.Description}}</p>
        </div>
        <div class="projectActions">
            <button>SHARE</button>
            <a href="{{project.Url}}" target="_blank" rel="noopener">
                <i class="material-icons">open_in_new</i>
            </a>
        </div>
    </div>
</section>