
<spinner *ngIf="_isLoading"></spinner>

<div class="postsHolder">
    <section class="postsMaster">
        <ul>
            <li *ngFor="let post of _posts">
                <a class="postLink" (click)="onPostClick(post.id)">
                    <span>{{post.title}}</span>
                </a>
            </li>
        </ul>
    </section>
    <div class="verticalLine"></div>
    <section class="postsDetail">
        <article *ngIf="_isPostSelected">
            <h3>{{!!_selectedPost ? _selectedPost.title : ''}}</h3>
            <div>
                {{_selectedPost.content}}
            </div>
        </article>
    </section>
</div>