.adminNavLinks {
    margin: 0;
    padding: 0;
}

.adminNavLinks md-list-item {
    padding: 10px; 
}

.adminNavLinks a {
    text-decoration: none;
}

.masterDetail {
    display: inline-flex;
    width: 100%;
    min-height: 40em;
    padding: 10px 0 0 0;
}

.master {
    text-align: center;
    padding: 20px;
    flex-basis: 40%;
 }

.master ul li {
    padding: 10px 0;
}

.detail { 
    text-align: center;
    padding: 20px;
    flex-basis: 55%;
}

.verticalLine {
    flex-basis: 5%;
    border-left: thick solid #22384e;
}

.masterLink {
    cursor: pointer;
}

.masterLink:hover {
    color: #2196F3;
}

ul.actions {
    margin: 8px 0 0 0;
    padding: 14px;
}