<spinner *ngIf="_isLoading"></spinner>

<ul *ngIf="!_isLoading" class="postList">
    <!--<li *ngFor="let post of (currentPage == 1 ? _pagedPosts : _posts)">-->
    <li *ngFor="let post of _posts">
        <article class="postArticle card card-1">
            <div class="postArticleImage">
                <img src="http://placehold.it/350x350" alt="postImage">
            </div>
            <div class="postArticleBody">
                <div class="postArticleBodyTitle">
                    <a class="blogLink" routerLink="/posts/{{post.id}}">{{post.title}}</a>
                </div>
                <hr />
                <div class="postArticleBodyDetails">
                    {{post.content}}
                </div>
            </div>
        </article>
    </li>
</ul>

<up *ngIf="!_isLoading"></up>

<button *ngIf="!_isLoading" (click)="onLoadmore()" class="btn">
    <i class="material-icons">expand_more</i>
</button>

<!--<pager *ngIf="!_isLoading" [items]="_posts" (pageChanged)="onPageChanged($event)"></pager>-->