/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

* {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Sanchez', serif;*/
    /*font-family: 'Kreon', serif;*/
    /*font-family: 'PT Sans', Helvetica, Arial, sans-serif;    */
    margin: 0;
    padding: 0;
}

html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Sanchez', serif;
    /*font-family: 'Kreon', serif;*/
    /*font-family: 'PT Sans', Helvetica, Arial, sans-serif;*/
    overflow-y: auto;
}

p {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Sanchez', serif;*/
    /*font-family: 'Kreon', serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Sanchez', serif;*/
    /*font-family: 'Kreon', serif;*/
    /*font-family: 'PT Sans Caption', sans-serif;*/
}

ul {
    list-style-type: none;
}

fieldset {
    border: 0;
    margin: 1em;
}

del {
    text-decoration: line-through;
    text-decoration-style: 1px solid black;
}

label {
    color: grey;
}

button.btn {
    font-weight: bold;
    font-size: 11pt;
    height: 3em;
    width: 10em;
    color: #22384e;
    background-color: white;
    border: 0;
    border-radius: 0.2em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    margin: 0 0 1em 0;
}

button.btn:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1200ms;
    transition-delay: 2ms;
    cursor: pointer;
    height: 3em;
    width: 10em;
    color: white;
    background-color: #22384e;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
}

.blogLink {
    color: black;
    text-decoration: none;
}

.blogLink:hover {
    color: #054d94;
}

dazeApp {
    /* display: inline-flex; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    overflow-y: auto;
}








