
.projectArticle {
    border: 1px dashed black;
    text-align: left;
}

.projectHeader {
    background-color: #22384e;
    color: white;
    padding: 0.5em;
}

.projectHeader h2 {
    font-weight: 500;
}

.projectDescription {
    background-color: #cbcfd0;
    color: black;
    padding: 0.5em;
}


