<spinner *ngIf="_isLoading"></spinner>

<section class="projectSection">
    <md-card *ngFor="let project of _projects">
        <md-card-title>
            {{project.name}}
        </md-card-title>
        <md-card-content>
            <p>{{project.description}}</p>
        </md-card-content>
        <md-card-actions class="projectActions">
            <button md-button>SHARE</button>
            <a md-button href="{{project.url}}" target="_blank" rel="noopener">
                <i class="material-icons">open_in_new</i>
            </a>
        </md-card-actions>
    </md-card>
</section>