<spinner *ngIf="_isLoading"></spinner>

<ul class="actions">
    <li>
        <a routerLink="/admin/posts/create">Create a new Post</a>
    </li>
</ul>

<div class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let post of _posts">
                <a class="masterLink" (click)="onPostClick(post.Id)">
                    <span>{{post.Title}}</span>
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section class="detail">
        <article *ngIf="_selectedPost">
            <h3>{{_selectedPost.Title}}</h3>
            <div>
                {{_selectedPost.Content}}
            </div>
            <div>
                <button (click)="onPostDelete(_selectedPost.Id)" type="button">
                    delete this post
                </button>
            </div>
        </article>
    </section>
</div>