<spinner *ngIf="_isLoading"></spinner>

<ul class="actions">
    <li>
        <a routerLink="/admin/posts/create">Create a new Post</a>
    </li>
</ul>

<div class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let post of _posts">
                <a class="masterLink" (click)="onPostClick(post.id)">
                    <span>{{post.title}}</span>
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section class="detail">
        <article *ngIf="_selectedPost">
            <h3>{{_selectedPost.title}}</h3>
            <div>
                {{_selectedPost.content}}
            </div>
            <div>
                <button (click)="onPostDelete(_selectedPost.id)" type="button">
                    delete this post
                </button>
            </div>
        </article>
    </section>
</div>